body, html {
  margin: 0;
  padding: 0;
  background-image: url(images/street-girl.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.nav {
  background-color: rgba(27, 9, 3, 0.986);
}

.merchTitle {
  padding-top: 20px;
}

.dropdown {
  padding-top: 25px;
}

.product-card {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  width: 400px;
  background-color: rgb(214, 206, 206);
  color: black;
}

#product-card {
  margin: 1px 1px 1px 1px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.individualProductCard {
  padding: 10px 10px 10px 10px;
  height: 600px;
}

.productCardTitle {
  border-style: solid;
  border-color: black;
  background-color: gray;
  height: 150px;
}

.productImage {
  width: 300px;
  height: 200px;
}

.productCardBody {
  height: 200px;
}

footer {
  border-style: solid;
  padding-top: 1px;
  padding-top: 1px;
  background-color: gray;
}

.title {
  margin: 0px;
  font-family: "New Rocker";
  font-size: 70px;
  letter-spacing: 5px;
  text-align: center;
  color: rgba(27, 9, 3, 0.986);
}

#photo {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  margin-bottom: 10px;
}



.about {
  width: 700px;
  margin: auto;
  padding: 2px;
  text-align: center;
  color: whitesmoke;
  background-color: #160601;
}

#disc-cards-div {
  display: flex;
  justify-content: space-around;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
  
.dropdown {
  padding-top: 25px;
}

