body {
  margin: 0;
  padding: 0;
  background-image: url(images/street-girl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.nav {
  background-color: rgba(27, 9, 3, 0.986);
}

.dropdown {
  padding-top: 25px;
}